---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HumanizerConsole from '../components/HumanizerConsole.astro';
import Features from '../components/Features.astro';
import FAQ from '../components/FAQ.astro';
import SeoContent from '../components/SeoContent.astro';
import Footer from '../components/Footer.astro';
import { getAuthenticatedUser } from '../lib/db';

const user = await getAuthenticatedUser(Astro.cookies);
---

<Layout>
	<Header />
	<main class="flex-grow">
		<Hero user={user} />
		<HumanizerConsole />
		<Features />
		<FAQ />
		<SeoContent />
	</main>
	<Footer />
</Layout>

